{% extends 'base.html' %}

{% load static %}

{% block content %}

<header>
  <img src="{% static 'img/header.jpg' %}" alt="header img">
  <svg class="background-hover" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#181A26" fill-opacity="1" d="M0,64L60,85.3C120,107,240,149,360,176C480,203,600,213,720,202.7C840,192,960,160,1080,154.7C1200,149,1320,171,1380,181.3L1440,192L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
  </svg>
  <section>
    <h1>Projet coopératif des "Simploniens" équipe by Simplon HDF (DEV IA)</h1>
<p>Pour notre première participations nous avons eu a coeur de participer au défi IA 
  Nous avons intégrer du deep learning pour répondre au sujet principale .
  Un quizz a été fait de cette manière , ainsi que les réponse et leur évaluations 
  Nous avons aussi étudié la base de donnée de l'unesco et l'organisation mondiale de la santé afin de présenter des donnée factuelle sur la prise en compte du traitement TPE 
  Un système d'authenfication est proposé.
  Nous avons egalément proposé trois des tweet actuelle les plus likée sur la page accueil , qui se rafraichissent a chaque fois , de manière légère .</p>  
</section>
  <figure class="sidaction">
    <img src="{% static 'img/sidaction.png' %}" alt="sidaction">
  </figure>
</header>



  





{% endblock content %}